<header class="header">
    <div class="brand-box">
      <span class="brand">TaskTrax</span>
      <a class="navbar-brand"><img id="logo" src="assets/LOGO_ICTAK-Name.jpg" alt=""></a>
    </div>
    
    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">Tracking tasks or Activities</span>
        <span class="heading-primary-sub">The one place to Check list your daily tasks & Activities</span>
      </h1>
      <li class="nav-item list-unstyled" >
        <button routerLink="/dash" class="button-85" >Todo List</button>
      </li>
    </div>
  </header>
  
